{% extends "base.html" %}

{% block content %}
<div class="login-container">
    
    <h1>Job Hunters</h1>
    <p>Catch your Match</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
        <div class="links">
            <a href="{% url 'account:register' %}">No account? Sign up!</a>
            <a href="{% url 'password_reset' %}">Forgot Password</a>
        </div>
    </form>
</div>
{% endblock %}
