{% extends 'base.html' %}
{% block content %}
    <h2>{{ job.title }}</h2>
    <p>{{ job.description }}</p>
    <p>Category: {{ job.category.name }}</p>
    <p>Hours per Week: {{ job.hours }}</p>
    <p>Posted by: {{ job.posted_by.username }}</p>
    <p>Available: {{ job.is_available }}</p>

    {% for image in job.images.all %}
        <img src="{{ image.image_url }}" alt="Job Image">
    {% endfor %}

    {% if user.is_authenticated %}
        <a href="{% url 'applications:apply_for_job' job.pk %}" class="btn btn-primary">Apply</a>
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to apply for this job.</p>
    {% endif %}
{% endblock %}
